* {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: bold;
}

/* html {
  height: 100%;
  background-image: url('/imgs/large-dna.png');
  background-size: cover;
  background-repeat: no-repeat;
} */

/* body {
  height: 100vh;
  overflow-y: hidden;
} */

h1, h3 {
  color: black;
  text-align: center;
}

.hla-class {
  color: green;
  font-size: 1.5em;
  width: 100vh;
  text-align: center;
  display: flex;
  flex-direction: row;
}

.isotype {
  color: pink;
  border: 2px solid black;
  font-size: 1em;
  text-align: center;
  display: flex;
  flex-direction: column;
  columns: 2;
}

.allele {
  display: flex;
  flex-direction: row
}

.allele-element {
  margin: 5px;
  font-size: 1em;
  color: red;
  font-weight: 100;
  text-align: center;
}

.allele-element {
  padding: 5px;
}