* {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: bold;
}

h1, h3 {
  color: black;
}

.hla-class-header {
  color: pink;
  font-size: 2em;
}

.hla-class {
  color: purple;
  padding: 20px;
  font-size: 1.5em;
  width: 100%;
  text-align: center;
  display: flex;
  flex-direction: row;
}

.isotype {
  padding: 10px;
  margin: 2px;
  border: 2px solid black;
  height: 70vh;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  columns: 2;
}

.allele {
  display: flex;
  flex-direction: row
}

.allele-element {
  margin: 5px;
  font-size: 0.5em;
  color: green;
  font-weight: 400;
  text-align: center;
}

.allele-element {
  padding: 5px;
}