* {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: bold;
}

h1 {
  color: purple;
  text-align: center;
}

.hla-class {
  color: red;
  font-size: 1.5em;
  text-align: center;
}

.isotype {
  color: blue;
  font-size: 1em;
  text-align: center;
}

.allele {
  margin: 5px;
  color: green;
  font-weight: 300;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  border: 1px solid black;
  text-align: center;
}